body {
  background-color: aqua;
}

h1 {
  background-color: antiquewhite;
  border: 3px, black, solid;
}

h2 {
  text-align: center;
  background-color: antiquewhite;
}

#cookieImage {
  width: 300px;
  cursor: pointer;
}

.image-container {
  display: flex;
  justify-content: center;
  background-color: blue;
}

#cookie-count,
#cookies-per-second {
  text-align: center;
  background-color: bisque;
}

.reset {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

#shop-upgrades {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: blue;
  padding: 10px;
  text-align: center;
  align-items: center;
}

.upgrade-name,
.upgrade-cost,
.upgrade-increase {
  background-color: antiquewhite;
  margin: 3px;
  text-align: center;
  align-content: center;
}
